
    
    
    .backgroundImage {
        background: #181a0f url("/img/header.jpg") no-repeat center top;
        min-height: 400px;
    }

    #headerMenuFirst {
        padding-top: 20px;
    }

    #userIcon .authorized{
        background-color: #cacf98;
        color: #1f2222;
        padding: 4px 15px;
        border-radius: 4px;
    }

    #userIcon .authorized .visible, #userIcon .authorized .visible::after{
        background-color: #F4f4db;
        color: #40453B;
    }

    #userIcon .authorized .visible {
        background-color: #F4f4db !important;
        color: #40453B !important;
        text-decoration: none;
    }

    #userIcon .authorized .visible .text{
        color: #40453B !important;
        text-decoration: none;
    }

    #userIcon .authorized .visible .text:hover{
        border-bottom: 1px solid #40453B;
    }

    #userIcon .unauthorized{
        color: #cacf98;
        padding: 8px;
    }

    #userIcon .unauthorized:hover{
        border-bottom: 1px solid;
        border-color: #cacf98;
    }

    #headerMenuSecond{
        padding-top: 100px;
    }

    #headerMenuSecond .menu a{
        color: #cacf98;
    }

    #headerMenuSecond .menu .active{
        border: 1px solid ;
        border-color: #cacf98;
    }

    #headerMenuSecond .menu a:hover{
        border: solid 1px;
        border-color: #cacf98;
    }

